body::before {
  content: "";
  background-image: url( ./assets/asphalt.jpg );
  background-size: cover;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -9999;
}

.game-info {
  position: absolute;
  top: 75%;
  left: 45%;
  color: white;
  font-size: 36pt;
  font-weight: bold;
}

.game-controls {
  position: absolute;
  top: 85%;
  left: 40%;
}
