body::before {
  content: "";
  background-image: url( ./assets/asphalt.jpg );
  background-size: cover;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -9999;
}

.die {
  position: absolute;
  top: 10%;
}

@media ( prefers-reduced-motion: no-preference ) {
  .die {
    animation: roll-die 0.5s linear;
  }
}

@keyframes roll-die {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
  0% { top: 110%; }
  75% { top: 0%; }
  100% { top: 10%; }
}
